<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Jsp05_HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- context : 물리적인 디렉토리 지금 WebContent폴더 root:http://localhost:8787/Jsp05_HelloServlet/ 
  		param : 해당 어플리케이션에서 사용할수있는 값
   -->
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <!-- 서블릿태그는 톰캣이 실행됐을때 sevlet 컨테이너가 확인해줌  -->
  <servlet>
  	<servlet-name>HelloServlet</servlet-name><!-- web.xml 안에서 사용될 이름을 지정한다. -->
  	<servlet-class>com.hello.controller.HelloController</servlet-class> <!-- Servlet 클래스 이름을 기술한다. -->
  	<!-- init 할때 이변수가 실행 해당서블릿이 실행되서 서블릿내에서만 실행  destroy 되기전까지 살아있음-->
  	<init-param>
  		<param-name>driver</param-name>
  		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
  	</init-param>
  	<!-- load-on-startup : servlet이 여러개	일	때,	실행순서를	정의한다 -->
  	<load-on-startup>1</load-on-startup>
  	
  </servlet>
  <!-- url이 어떤서블릿한테 가는지 hello.do라는 url이들어오면 HelloServlet으로 보내줌 -->
 <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
 	<url-pattern>/hello.do</url-pattern><!--/ 꼭 있어야함  -->
  </servlet-mapping>

</web-app>